.container{
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    border: 1px solid #ccc
}

.item{ 
    flex: 1;
    margin: 5px;
    background: tomato;
    text-align: center;
    font-size: 1.5em;
}

h1{
    text-align: center;
    margin: 20px 0 0 0;
    font-size: 1.5em;
    font-weight: normal;
}

dody {
    font-family: monospace;
    color:black
}

.row{
    flex-direction: row;
}

.row-reverse{
     flex-direction: row-reverse;
}

.colunm {
    flex-direction: column;
}

.colunm-reverse {
    flex-direction: column-reverse;
}


